<div id="<%= dom_id course %>">
  <p>
    <strong>Asignatura:</strong>
    <%= course.title %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>Duración:</strong>
    <%= course.duration %>
  </p>

  <p>
    <strong>Instructor/a:</strong>
    <%= course.user.name %>
  </p>

</div>
